<main>
    <div class="cont">
        <section class="cont--messages">
            <h3 class="messages--title">Mi chat</h3>
            <ul class="cont--text">
                @for(msg of listMesages; track msg){
                <li>{{msg}}</li>
                }
            </ul>
        </section>
    
        <form class="form">
            <input class="form--text" type="text" [(ngModel)]="message" name="message" required placeholder="Escribe un mensaje" />
            <button class="form--button" (click)="sendMessage()">Enviar</button>
        </form>
    </div>
</main>