<main class="main">
    <div class="cont">
        <section class="users cont--field">
            <h3 class="users--title">Usuarios</h3>
            <p class="users--text">Cuál eres tu??</p>
            <div class="us">
            @for (user of users; track user) {
                    <a class="us--username" [routerLink]="['/chat', user]">{{user.username}}</a>
                }
            </div>
        </section>

        <section class="log cont--field">
            <h3>Bienvenido</h3>                     
        </section>
    </div>
</main>